<h1>Welcome to FarMar</h1>

<nav>
  <ul>
    <li>
      <%= link_to image_tag("guest.svg", :alt => "Guest", :class => "css"), users_index_path(:user_type =>'user') %>
    </li>
    <li>
      <%= link_to image_tag("market.svg", :alt => "Markets", :class => "css"), sessions_new_path(:user_type => 'market') %>
    </li>
    <li>
      <%= link_to image_tag("vendor.png", :alt => "Vendors", :class => "css"), sessions_new_path(:user_type => 'vendor') %>
    </li>
  </ul>
</nav>
