<h1>Welcome guest!</h1>
<p>FarMar helps you get info about farmer's markets you may want to attend.</p>
<p>Choose a farmer's market to get more info:</p>


<ul>
  <% @markets.each do |market| %>

      <li><%= link_to market.name, users_show_path(market.id) %></li>

  <% end %>

</ul>

<form name="update-post" action="show" method="get">
  <label for="market">Market:</label>

  <select name="id">
    <%= @markets.each do |market| %>
      <option value="<%= market.id %>"><%= market.name %></option>
    <% end %>
  </select>

  <button type="submit">Submit</button>
  <input type="hidden" name="_method" value="GET">

</form>
