
<div class="footer-container">
  <nav>
    <ul>
      <li>
        <%= link_to image_tag("facebook-square.png", :alt => "facebook", :class => "css"), sessions_index_path %>
      </li>
      <li>
        <%= link_to image_tag("twitter.png", :alt => "twitter", :class => "css"), sessions_index_path %>
      </li>
    </ul>
  </nav>
</div>
