<nav>

  <div>
    <%= link_to image_tag("home.svg", :alt => "Home", :class => "css"), sessions_index_path %>
  </div>

  <ul>

    <li>
      <%= button_to "Vendor List", vendors_show_path %>
    </li>
    <li>
      <%= button_to "Market Page", markets_index_path %>
    </li>
  </ul>
</nav>
