<nav>
  <ul>
    <li>
      <%= link_to image_tag "home.svg" sessions_index_path %>
    </li>
    <li>
      <%= link_to "Vendor List" vendors_show_path %>
    </li>
    <li>
      <%= link_to "Market Page" market_index_path %>
    </li>
  </ul>
</nav>
