<%= render 'shared/user_id_header' %>

<h2>Edit your market profile!</h2>

<p>Use the form below to edit your profile. When you are done, press submit!</p>

<section>

  <%= render partial: "marketform" %>

</section>
