<h1><%= "#{current_user.name}" %></h1>

<h2>What would you like to do today?</h2>

<p><%= link_to "Make a new market", markets_new_path %></p>


<h3><%= link_to "View My Vendors", vendors_show_path %></h3>
