<h1>Add a new product!</h1>
<p>Please enter the name of your new product in the space below. When you are finished, press submit!</p>

<section>
  <%= form_for @product, method: 'post', url: products_create_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit %>
  <% end %>
</section>
