<h1>My sales</h1>
<p>See what you've sold and add new sales!</p>


<p><%= link_to "All my sales", sales_show_path(:period => :all), method: :get %></p>
<p><%= link_to "This month's sales", sales_show_path(:period => :this_month), method: :get %></p>
<p><%= link_to "Add a sale", sales_new_path, method: :get %></p>
<p><%= link_to "Return to vendor home", vendors_index_path, method: :get %></p>
